@charset "utf-8";

/*전체사이트 핵심공통*/
/*웹폰트*/
@font-face {
    font-family: "SF Pro Display Regular";
    src: url(../resorces/font/sf-pro-display_regular.woff2) format("woff2");
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url(../resorces/font/sf-pro-display_semibold.woff2) format("woff2");
}

@font-face {
    font-family: "Nanum Square Regular";
    src: url(../resorces/font/NanumSquareRegular.ttf) format("truetype");
}


@font-face {
    font-family: "Nanum Square Bold";
    src: url(../resorces/font/NanumSquareBold.ttf) format("truetype");
}

/*사이트 전체설정*/
html,
body {
    font-family: "SF Pro Display Regular", "Nanum Square Regular";
    font-size: 10px;
}

/*IR(Image Replacement)-이미지설명요소 등 안보이게 처리*/
.hid {
    display: none;
}

.cblock::after {
    content: "";
    display: block;
    clear: both;
}